<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies</title>
  <link rel="stylesheet" href="/css/movies.css">
  <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="header">
    <img src="http://www.2gb.com/sites/default/files/field/image/20140328/moviereel.jpg" class="header_img" height ="100px" width = "100px"> <h1> Its movie Time </h1> 
  </div>
  
  <div class="container">
      <%= yield %>
  </div>

</body>
</html>