<ul>
  
 <%  @foodblog.each do |content | %>
  <a href=" /foodblog/<%= %>"></a>

</ul>


<% @butterflies.each do |butterfly| %>
  <li>
    <a href="/butterflies/<%= butterfly['id'] %>" >
  <%= butterfly['name'] %>
</a>
</li>
<% end %>
</ul>