
<h1> MAGIC 8 BALL </h1>
<p> You have a problem ? You Want your Question to be answered ? <br>
    Then you are at the right place ..   </p>

  <h3>  What is Your Question ??</h3>
  <form action="/magic8/execute">
  <input type="text" name="q" placeholder ="your Question here" autofocus =on >
  <button> GO </button>
</form>