<h2> You wanna play rock paper scissors</h2>
<h4> Enter Your selection  </h4>
<div class="rps">
    <a href = "/rps/rock"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAgEGEsE0JyEp40klx-uBnpIKTgrnQiDscKIL0Bqc_nVRp0YIKow" alt=" rock" width="200px" height="200px"></a>
    <a href = "/rps/paper"><img src="http://graphics8.nytimes.com/images/2011/08/21/magazine/21mag-abstractimages-slide-2T4N/21mag-abstractimages-slide-2T4N-jumbo.jpg" alt ="paper" width="200px" height="200px"></a>
    <a href = "/rps/scissors"><img src="http://graphics8.nytimes.com/images/2011/08/21/magazine/21mag-abstractimages-slide-IRQ1/21mag-abstractimages-slide-IRQ1-jumbo.jpg" alt="scissors" width="200px" height="200px"></a>
</div>
