<h1> Lets play secret no  </h1>

<h2> Guess my Secret No between 0 and 9 </h2>
<form action ="/secret/execute/">
  <div class="nos">
    <button id ="0" name="no" value ="0"> 0 </button>
    <button id ="1" name="no" value ="1"> 1 </button>
    <button id ="2" name="no" value ="2"> 2 </button>
    <button id ="3" name="no" value ="3"> 3 </button>
    <button id ="4" name="no" value ="4"> 4 </button>
    <button id ="5" name="no" value ="5"> 5 </button>
    <button id ="6" name="no" value ="6"> 6 </button>
    <button id ="7" name="no" value ="7"> 7 </button>
    <button id ="8" name="no" value ="8"> 8 </button>
    <button id ="9" name="no" value ="9"> 9 </button>
 </div>
</form>