
<%  secretno = 5  %>
<%  q = params[:no].to_i %>
<% if secretno == q %>
  <h3> YOU guessed the secret no right !! hurray </h3>
  <img src="http://media.tumblr.com/d71e842546eee221dabe976a017274b9/tumblr_inline_ndi9sjgADF1saor68.jpg" alt="Correct">
  <img src="http://atlantis.coe.uh.edu/archive/langarts/langarts_lessons/langles3/images/happyguy.gif" alt="correct">
  <% else %>
    <h4> Wrong Guess </h4>
    <img src="http://atlantis.coe.uh.edu/archive/langarts/langarts_lessons/langles3/images/aniyuck.gif" alt="Wrong">
    
  <% end %>