 *{

  background-color: rgba(240, 178, 255,1);
 }

 .header_img {
  display:inline-block;
  width :100px;
  height :100px;
}

.details {

  display: inline-block;
  font-size: 14;
  font-family: 'Coming Soon', cursive;
  width:  850px;
}

.details img {

  width = 300px
  height = 400px;
}